
.carruselItems{
    background-color: #C271FF;
    padding:2% 15%;
    transition:all 0.3s ease;
}

.title{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.title span{
    color:#C271FF ;
}


.membership{
    background-color: #071629;
   
}


.membership a{
    margin-bottom: 5%;
    background-color: #C271FF;
}


.members{
    text-align: center;
    color:#fff;
}


